<div class="my-8 mx-3.5 md:mx-12 lg:mx-24">

  <app-header
    (showFilterEvent)="showFilter = $event"
    [searchInfo]="searchInfo"
  ></app-header>

  <div class="flex justify-between mb-8">
    <span class="font-bold text-xl">Stays in {{searchInfo.city}}</span>
    <span class="font-medium text-sm">{{stays?.length}} stays</span>
  </div>

  <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-x-8 gap-y-12">
    <app-card
      *ngFor="let stay of stays; let i=index"
      [stays]="stays[i]"
    ></app-card>
  </div>

  <footer class="mt-14 flex justify-center text-gray-1 text-sm">
    <span>created by <a href="https://github.com/ferneyap17" target="_blank">ferneyap17</a> - devChallenges.io</span>
  </footer>

</div>

<app-search-filter
  *ngIf="showFilter"
  [cities]="cities"
  (showFilterEvent)="showFilter = $event"
  (onSearch)="getStays($event)"
></app-search-filter>
